.Rproj.user
.Rhistory
.RData
.Ruserdata
inst/doc
create_data/Anscombe1973.pdf
create_data/same-stats-different-graphs.pdf
create_data/to_do.txt
doc
Meta
checks
/doc/
/Meta/
create_data/*.gif
create_data/gganimate.R
*.db
create_data/logo.R
create_data/anscombiser_image.png
create_data/logo2.R
create_data/logo3.R
